body {
  background-color: powderblue;
}

p {
  color: blue;
  font-family: courier;
  text-align: center;
}
img{
	
	text-align: center;
	
}
h1 {
  color: blue;
  font-family: ;
  font-size: 300%;
}